body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/5_background/layers/desert.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    font-size: 45px;
    letter-spacing: 16px;
    height: 100vh;
    user-select: none;
}

h1 {
    margin: 20px 0;
}

.info {
    display: flex;
    width: 720px;
    justify-content: center;
    font-size: 24px;
    letter-spacing: normal;
    gap: 20px;
    margin-bottom: 20px;
}

.turn-device-container {
    display: none;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    max-width: 720px;
    margin-bottom: 20px;
    gap: 20px;
    letter-spacing: 1vw;
    color: black;
}

.turn-device-container img {
    max-height: 100px;
    height: 19vw;
}

canvas {
    background-color: black;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
}

.canvas-div {
    position: relative;
}

.start-container {
    position: relative;
}

.start-picture {
    position: absolute;
    max-width: 720px;
    max-height: 480px;
    height: 67vw;
    width: 100vw;
    z-index: 1;
    border-radius: 10px;
}

.you-win-container {
    position: absolute;
    top: 0;
    display: none;
    animation: scale-in 225ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 100ms both;
}

.you-win-picture {
    max-width: 720px;
    max-height: 480px;
    height: 67vw;
    width: 100vw;
    z-index: 1;
    border-radius: 10px;
    object-fit: cover;
    background-color: wheat;
}

.you-win-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
    top: 12%;
    font-size: 96%;
    z-index: 2;
    color: orange;
}

.trophy {
    position: absolute;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.win-new-game {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    font-size: 96%;
    white-space: nowrap;
    z-index: 2;
    color: orange;
}

.game-info {
    position: absolute;
    z-index: 2;
    font-size: 26px;
    letter-spacing: normal;
    left: 45px;
    top: 42px;
}

.game-over-container {
    position: absolute;
    top: 0;
    display: none;
    animation: scale-in 225ms cubic-bezier(0.250, 0.460, 0.450, 0.940) 100ms both;
}

.game-over {
    max-width: 720px;
    max-height: 480px;
    height: 67vw;
    width: 100vw;
    z-index: 1;
    border-radius: 10px;
    object-fit: cover;
}

.new-game {
    position: absolute;
    z-index: 4;
    cursor: pointer;
    font-size: 35px;
    white-space: nowrap;
    border-radius: 10px;
    border: 7px solid #9A3916;
    text-align: center;
    left: 50%;
    top: 58px;
    transform: translate(-50%, 0);
    padding: 10px 20px;
    letter-spacing: 7px;
    color: #FFA000;
}

.audio-button {
    position: absolute;
    z-index: 3;
    right: 10%;
    top: 3%;
    cursor: pointer;
    max-height: 40px;
    height: 5vw;
}

.full-screen-button {
    position: absolute;
    top: 3%;
    z-index: 3;
    right: 3%;
    max-height: 40px;
    height: 5vw;
    cursor: pointer;
}

.play-button {
    position: absolute;
    z-index: 2;
    max-height: 132px;
    height: 19vw;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}


.info span {
    display: flex;
    align-items: center;
    gap: 6px;
}


.touch-keys-left {
    position: absolute;
    left: 10px;
    bottom: -5px;
}

.touch-keys-right {
    position: absolute;
    right: 10px;
    bottom: -5px;
}

.touch-keys {
    width: 6vw;
    max-width: 46px;
    display: none;
}


.full-screen {
    width: 100vw;
    height: 100vh;
}

@media only screen and (hover: none) and (pointer: coarse) {
    .touch-keys {
        display: unset;
    }

    .info {
        display: none;
    }

    canvas,
    .canvas-div,
    .start-picture,
    .game-over,
    .you-win-picture {
        width: 100vw;
    }
}

@media only screen and (max-width:720px) {
    body {
        justify-content: center;
    }

    .turn-device-container {
        font-size: 5vw;
        gap: 3vw;
        display: flex;
    }

    canvas {
        width: 100%;
        height: unset;
    }

    .start-picture {
        object-fit: cover;
    }

    h1 {
        display: none;
    }

    .info {
        display: none;
    }

    .touch-keys {
        display: unset;
    }

    .game-info {
        font-size: 3.4vw;
        left: 10%;
        top: 4vw;
    }

    .you-win-text,
    .win-new-game {
        font-size: 3.4vw;
        letter-spacing: 1vh;
    }

    .new-game {
        font-size: 5vw;
        border-radius: 1vw;
        border: 0.7vw solid #9A3916;
        top: 10%;
        padding: 1vw 2vw;
        letter-spacing: 0.6vw;
    }
}

@media only screen and (max-height:480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}

@keyframes scale-in {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}