body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/5_background/layers/desert.jpg');
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    font-size: 45px;
    letter-spacing: 16px;
}

canvas {
    background-color: black;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 0 10px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.canvas-div {
    position: relative;
}

.start-picture {
    position: absolute;
    width: 720px;
    height: 480px;
    z-index: 1;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.audio-button {
    position: absolute;
    z-index: 2;
    right: -330px;
    top: 20px;
    cursor: pointer;
    height: 40px;
}

.play-button {
    position: absolute;
    z-index: 2;
    height: 132px;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

.info {
    position: absolute;
    z-index: 2;
    display: flex;
    top: -61px;
    left: -348px;
    font-size: 24px;
    letter-spacing: normal;
    gap: 20px;
    width: 720px;
}

.info span {
    display: flex;
    align-items: center;
    gap: 6px;
}

.game-info {
    position: absolute;
    z-index: 2;
    font-size: 26px;
    letter-spacing: normal;
    left: -309px;
    top: 42px;
}

.game-over {
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    height: 480px;
    width: 720px;
    border-radius: 10px;
    display: none;
}

.new-game {
    position: absolute;
    z-index: 4;
    cursor: pointer;
    font-size: 35px;
    white-space: nowrap;
    border-radius: 10px;
    border: 7px solid #9A3916;
    text-align: center;
    left: 50%;
    top: 58px;
    transform: translate(-50%, 0);
    padding: 10px 20px;
    letter-spacing: 7px;
    color: #FFA000;
    display: none;
}


@media only screen and (max-width:720px) {
    canvas {
        width: 100%;
    }

    h1 {
        display: none;
    }

    .start-screen {
        width: 100%;
        height: auto;

    }
}

@media only screen and (max-height:480px) {
    canvas {
        height: 100vh;
    }

    h1 {
        display: none;
    }
}